# Final Project
# DSC 540 Data Preparation
# Kevin Danh

## Project Milestone 2

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the dataset
df = pd.read_csv("preprocessed_video_games.csv")
df.head(10)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,Tetris,GB,1989,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,New Super Mario Bros.,DS,2006,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80
7,Wii Play,Wii,2006,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92
8,New Super Mario Bros. Wii,Wii,2009,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32
9,Duck Hunt,NES,1984,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [3]:
# Step 1: Replace headers
# This ensure that the headers are consistent and readable.
df.rename(columns={
    'Year_of_Release': 'Year', 
    'NA_Sales': 'NorthAmerica_Sales',
    'EU_Sales': 'Europe_Sales',
    'JP_Sales': 'Japan_Sales',
    'Other_Sales': 'Other_Sales',
    'Global_Sales': 'Global_Sales'
}, inplace=True)

df.head(10)

,Name,Platform,Year,Genre,Publisher,NorthAmerica_Sales,Europe_Sales,Japan_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,Tetris,GB,1989,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,New Super Mario Bros.,DS,2006,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80
7,Wii Play,Wii,2006,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92
8,New Super Mario Bros. Wii,Wii,2009,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32
9,Duck Hunt,NES,1984,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [4]:
# Checking the number of rows and columns
df.shape

(16416, 10)

In [5]:
# Checking for missing values
nan_counts = df.isna().sum()
nan_counts

Name                  0
Platform              0
Year                  0
Genre                 0
Publisher             0
NorthAmerica_Sales    0
Europe_Sales          0
Japan_Sales           0
Other_Sales           0
Global_Sales          0
dtype: int64

In [6]:
for col in df.columns:
    print(f"{col} - {df[col].nunique()} unique values")

Name - 11397 unique values
Platform - 31 unique values
Year - 39 unique values
Genre - 12 unique values
Publisher - 579 unique values
NorthAmerica_Sales - 401 unique values
Europe_Sales - 307 unique values
Japan_Sales - 244 unique values
Other_Sales - 155 unique values
Global_Sales - 628 unique values

In [7]:
# Count of unique values for Genre
print("Genre counts:")
print(df['Genre'].value_counts())

# Count of unique values for Platform
print("\nPlatform counts:")
print(df['Platform'].value_counts())

Genre counts:
Genre
Action          3307
Sports          2306
Misc            1697
Role-Playing    1483
Shooter         1296
Adventure       1291
Racing          1225
Platform         878
Simulation       855
Fighting         837
Strategy         672
Puzzle           569
Name: count, dtype: int64

Platform counts:
Platform
PS2     2127
DS      2122
PS3     1306
Wii     1286
X360    1232
PSP     1193
PS      1190
PC       952
XB       803
GBA      786
GC       542
3DS      512
PSV      429
PS4      393
N64      316
XOne     247
SNES     239
SAT      173
WiiU     147
2600     116
NES       98
GB        97
DC        52
GEN       27
NG        12
SCD        6
WS         6
3DO        3
TG16       2
GG         1
PCFX       1
Name: count, dtype: int64

In [8]:
# Step 2: Fix casing / inconsistent values
# This will standardize 'Genre' and 'Platform' to title case and capitalize all respectively.
df['Genre'] = df['Genre'].str.title()
df['Platform'] = df['Platform'].str.upper()
df.head(10)

,Name,Platform,Year,Genre,Publisher,NorthAmerica_Sales,Europe_Sales,Japan_Sales,Other_Sales,Global_Sales
0,Wii Sports,WII,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,WII,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52
3,Wii Sports Resort,WII,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,Tetris,GB,1989,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,New Super Mario Bros.,DS,2006,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80
7,Wii Play,WII,2006,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92
8,New Super Mario Bros. Wii,WII,2009,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32
9,Duck Hunt,NES,1984,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [9]:
# Step 3: Removing platforms that are not recognizable or does not contain a lot of meaningful data
# This will remove platforms shown from value_counts that do not make a meaningful impact of the analysis and are possible outliers.
# List of recognized platforms to keep
recognized_platforms = [
    'PS2','DS','PS3','WII','X360','PSP','PS','PC','XB','GBA','GC',
    '3DS','PSV','PS4','N64','XONE','SNES','SAT','WIIU','2600','NES','GB','DC','GEN','NG'
]

# Filter the dataframe
df = df[df['Platform'].isin(recognized_platforms)]
df.shape

(16397, 10)

In [10]:
# Step 4: Identify outliers in Global_Sales
# This will remove extreme outliers using IQR method.
Q1 = df['Global_Sales'].quantile(0.25)
Q3 = df['Global_Sales'].quantile(0.75)
IQR = Q3 - Q1
lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR
df_cleaned = df[(df['Global_Sales'] >= lower) & (df['Global_Sales'] <= upper)].copy()
df_cleaned.head(10)

,Name,Platform,Year,Genre,Publisher,NorthAmerica_Sales,Europe_Sales,Japan_Sales,Other_Sales,Global_Sales
1870,NASCAR Thunder 2004,PS2,2003,Racing,Electronic Arts,0.53,0.41,0.00,0.14,1.08
1871,SpongeBob SquarePants: Revenge of the Flying D...,PS2,2002,Platform,THQ,0.53,0.41,0.00,0.14,1.08
1872,Imagine: Babysitters,DS,2008,Simulation,Ubisoft,0.63,0.35,0.00,0.10,1.08
1873,Namco Museum Battle Collection,PSP,2005,Misc,Sony Computer Entertainment,0.75,0.18,0.00,0.16,1.08
1874,Fisherman's Bass Club,PS2,2002,Sports,Agetec,0.53,0.41,0.00,0.14,1.08
1875,Empire: Total War,PC,2009,Strategy,Sega,0.01,0.97,0.00,0.10,1.08
1876,Virtua Fighter 5,PS3,2007,Fighting,Sega,0.29,0.51,0.08,0.20,1.08
1877,Dante's Inferno,PS3,2010,Action,Electronic Arts,0.64,0.28,0.04,0.13,1.08
1878,Toy Story 3: The Video Game,PS3,2010,Action,Disney Interactive Studios,0.51,0.40,0.00,0.16,1.08
1879,Joust,2600,1982,Platform,Atari,1.01,0.06,0.00,0.01,1.08

In [11]:
df_cleaned.shape

(14528, 10)

In [15]:
# Check on games with the same name on multiple platforms
duplicate_names = df.groupby('Name')['Platform'].nunique()
duplicate_games = duplicate_names[duplicate_names > 1]

duplicate_games

Name
 Frozen: Olaf's Quest               2
007: Quantum of Solace              6
007: The World is not Enough        2
11eyes: CrossOver                   2
18 Wheeler: American Pro Trucker    2
                                   ..
iCarly                              2
iCarly 2: iJoin The Click!          2
nail'd                              2
pro evolution soccer 2011           6
uDraw Studio: Instant Artist        2
Name: Platform, Length: 2748, dtype: int64

In [13]:
# Step 5: Make a new column depicting which game has been released on multiple platforms
# This new column will tell me which duplicated entry is actually a game collected that has been released on a different platform.
# Count how many platforms each game appears on
platform_counts = df_cleaned.groupby('Name')['Platform'].transform('nunique')

# Create a boolean column: True if game has multiple platforms, False otherwise
df_cleaned['Multi_Platform'] = platform_counts > 1

df_cleaned[['Name', 'Platform', 'Multi_Platform']].head(10)

,Name,Platform,Multi_Platform
1870,NASCAR Thunder 2004,PS2,True
1871,SpongeBob SquarePants: Revenge of the Flying D...,PS2,True
1872,Imagine: Babysitters,DS,False
1873,Namco Museum Battle Collection,PSP,False
1874,Fisherman's Bass Club,PS2,False
1875,Empire: Total War,PC,False
1876,Virtua Fighter 5,PS3,False
1877,Dante's Inferno,PS3,True
1878,Toy Story 3: The Video Game,PS3,True
1879,Joust,2600,False

In [18]:
# Human readable dataset after all transformations
df_cleaned.to_csv('cleaned_videogames.csv', index=False)
display(df_cleaned.head(10))
display(df_cleaned.tail(10))

,Name,Platform,Year,Genre,Publisher,NorthAmerica_Sales,Europe_Sales,Japan_Sales,Other_Sales,Global_Sales,Multi_Platform
1870,NASCAR Thunder 2004,PS2,2003,Racing,Electronic Arts,0.53,0.41,0.00,0.14,1.08,True
1871,SpongeBob SquarePants: Revenge of the Flying D...,PS2,2002,Platform,THQ,0.53,0.41,0.00,0.14,1.08,True
1872,Imagine: Babysitters,DS,2008,Simulation,Ubisoft,0.63,0.35,0.00,0.10,1.08,False
1873,Namco Museum Battle Collection,PSP,2005,Misc,Sony Computer Entertainment,0.75,0.18,0.00,0.16,1.08,False
1874,Fisherman's Bass Club,PS2,2002,Sports,Agetec,0.53,0.41,0.00,0.14,1.08,False
1875,Empire: Total War,PC,2009,Strategy,Sega,0.01,0.97,0.00,0.10,1.08,False
1876,Virtua Fighter 5,PS3,2007,Fighting,Sega,0.29,0.51,0.08,0.20,1.08,False
1877,Dante's Inferno,PS3,2010,Action,Electronic Arts,0.64,0.28,0.04,0.13,1.08,True
1878,Toy Story 3: The Video Game,PS3,2010,Action,Disney Interactive Studios,0.51,0.40,0.00,0.16,1.08,True
1879,Joust,2600,1982,Platform,Atari,1.01,0.06,0.00,0.01,1.08,False

,Name,Platform,Year,Genre,Publisher,NorthAmerica_Sales,Europe_Sales,Japan_Sales,Other_Sales,Global_Sales,Multi_Platform
16406,15 Days,PC,2009,Adventure,DTP Entertainment,0.00,0.01,0.00,0.0,0.01,False
16407,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0.00,0.00,0.0,0.01,True
16408,Aiyoku no Eustia,PSV,2014,Misc,dramatic create,0.00,0.00,0.01,0.0,0.01,False
16409,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0.00,0.00,0.0,0.01,False
16410,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0.00,0.00,0.00,0.0,0.01,True
16411,Samurai Warriors: Sanada Maru,PS3,2016,Action,Tecmo Koei,0.00,0.00,0.01,0.0,0.01,True
16412,LMA Manager 2007,X360,2006,Sports,Codemasters,0.00,0.01,0.00,0.0,0.01,False
16413,Haitaka no Psychedelica,PSV,2016,Adventure,Idea Factory,0.00,0.00,0.01,0.0,0.01,False
16414,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01,True
16415,Winning Post 8 2016,PSV,2016,Simulation,Tecmo Koei,0.00,0.00,0.01,0.0,0.01,True

In this project, the data wrangling steps included replacing headers for clarity, removing unrecognizable platforms, fixing inconsistent values and casing, identifying outliers in Global_Sales, and creating a boolean column to indicate multi-platform releases. While the dataset is publicly available video game sales data, there are no strict legal or regulatory guidelines directly governing its use, though care must be taken to ensure proper attribution of sources if published. The transformations could introduce bias if, for example, rare platforms were removed or if outliers were excluded, potentially affecting conclusions about sales trends or platform popularity. Assumptions made during cleaning included treating each game-platform combination as unique and assuming multi-platform releases should be flagged for analysis. The data was sourced Kaggle datasets, verified for consistency against published sales records, and acquired ethically as open-source content. To mitigate ethical implications, all transformations were documented clearly, unusual or rare platforms were either flagged or excluded transparently, and analyses are performed with awareness of potential biases introduced by cleaning decisions, ensuring transparency and reproducibility of results.